.image {
  position: relative;
  top:0;
  object-fit: cover;
  object-position: 100% center;
  width: 115%;
  height: 100%;
    transform: translateX(0%);

  transition: transform 0.3s ease-out;
}

.imageTrack {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  /* margin-top: 0.5em; */
  overflow-x: scroll;
  height: 100%;
  width:fit-content;

  touch-action: pan-y; /* Allow vertical panning */
  transform: translate(0%, 0%);
  user-select: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.imageTrack:active {
  cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.imageTrack::-webkit-scrollbar {
  display: none;
}

.cardTemp {
  overflow: hidden;
  width: 30em;
  height: 30em;
}


