.projectsText {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 1em;
}
.projectsHero {
  width: 100%;
  min-height: 42.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projectsHero h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}
.projectsHero h2 {
  all: unset;
  font-size: 1.5rem;
  font-weight: 500;
}
.projectsText p {
  white-space: pre-wrap;
}
.description {
  margin-top: 1rem;
}
.hero {
  display: none;
}
.hero.activeHero {
  display: block;
}
.projectsList img {
  max-width: 20em;
  max-height: 4rem;
}
.projectsList {
  display: flex;
  flex-direction: row;
  gap: 4em;
  height: fit-content;
  width: 100%;
}

.orgContainer {
  display: flex;
  align-items: center;
  height: fit-content;
  position: relative;
  cursor: pointer;
}

.orgContainer h3 {
  opacity: 0.3;
  transition: 0.3s;
  font-size: 3rem;
  font-weight: 800;
  gap: 1em;
}
.active.orgContainer h3 {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.orgContainer:hover h3 {
  scale: 1.025;
}

.orgContainer.active h3 {
  mix-blend-mode: difference;
  opacity: 1;
}
.active {
  transition: 0.3s;
}

.projectsHero .arrowButtons {
  display: flex;
  font-size: 1.5em;
  align-self: center;
  width: 9rem;
  justify-content: space-between;
}

.projectsHero .arrowButtons button {
  all: unset;
  cursor: pointer;
  color: white;
  scale: 1.2;
  padding: 0 0.5em 0 0.5em;
  user-select: none;
}
.projectsHero .arrowButtons h4 {
  width: 4rem;
  text-align: center;
}
.mobileProjectList {
  display: flex;
  flex-direction: column;
  gap: 4em;
  height: 100%;
  width: 100%;
}
.mobileProjectList h1 {
  color: white;
  font-size: 2.25rem;
  text-transform: uppercase;
}
.mobileProjectList h2 {
  all: unset;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: capitalize;
}
.mobileProjectList h3 {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}
.mobileProjectList h4 {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
}

.mobileProjectList {
  display: flex;
  flex-direction: column;
  gap: 4em;
  height: 100%;
  width: 100%;
}
