@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  font-family: Poppins;
}
.noise {
  z-index: 9999999;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  filter: brightness(150%);
  background-image: url("https://uploads-ssl.webflow.com/604e45bd21701352c1131f56/604e45bd217013478e131f6a_5ffddb954a49ee060a580d5a_ezgif.com-gif-maker.gif");
  background-position: 0 0;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  filter: brightness(120%);
  background-size: 100px;
  top: 0%;
  mix-blend-mode: difference;
  pointer-events: none;
}

.titleText h1 {
  font-size: 12rem;
  line-height: 0.8em;
  letter-spacing: -0.05em;
}
.cut-out-text {
  color: white; /* Text color */
  background-color: transparent; /* Transparent text background */
  z-index: 2;
  mix-blend-mode: difference;
  background-clip: text; /* Clip background to the text */
}

.pageContainerSplash {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: flex-end;
  width: 100%;
  z-index: 8;
}
.menu h2 {
  font-size: 2em;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.menu h2:hover {
  scale: 1.05;
}
.menu h2 a {
  all: unset;
}
.titleText {
  display: flex;
  z-index: 2;
  gap: 1em;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.name {
  display: flex;
  flex-direction: column;
  letter-spacing: -0.8em;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 915px) {
  .titleText h1 {
    font-size: 5rem;
    line-height: 0.8em;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
  }
  .menu h2 {
    font-size: 1.5em;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }
  .titleText {
    display: flex;
    z-index: 2;
    gap: 2em;
    flex-direction: column-reverse;
  }
}

.sectionHeader {
  width: 7.6em;
  background-color: pink;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graffiti {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  
}
.pageContainer h2 {
  font-size: 4em;
  letter-spacing: -0.07em;
}
p {
  font-size: 1em;
  max-width: 600px;
  line-height: 21px;
}

.about .container {
  align-self: center;
}
.container {
  position: relative;
  padding: 4em 4em 0 4em;
  max-width: 1440px;
  width: 100%;
  
}
.aboutText {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.pageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  color: white;
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Enable horizontal scrolling on mobile */
}

/* Add a media query for smaller screens */
@media screen and (max-width: 915px) {
  .container {
    flex-direction: column; /* Switch container to column layout */
    align-items: center; /* Center-align content in column layout */
    padding: 2em;
  }

  .aboutText {
    flex-direction: column; /* Switch aboutText to column layout */
    align-items: center; /* Center-align content in column layout */
  }

  /* Adjust .about p width for smaller screens */
  .about p {
    width: 100%; /* Make the paragraph full width */
    min-width: unset; /* Remove the minimum width */
  }
  .pair {

    flex-direction: column;
    padding-bottom: 1em;
  }
  .pair h4 {
    align-self: flex-start;
  
  }
}

.resumeBox {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
}
.resumeBox h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}
.resumeText {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2em;
}

.pair {
  display: flex;
  align-items: center;
  width: 450px;
}
.boxList {
  display: flex;
  align-items: center;
  width: 450px;
  flex-direction: row;

  flex-wrap: wrap;
}
.boxList p {
  width: 30%;
}
.pair p {
  text-align: left;
  width: 100%;
  background-color: black;
}
.pair h4 {
  width: 30%;
}

