@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

h1 { 

  font-size: 6rem;
 
 
  
}
.cut-out-text {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #C0C0C0; /* Text color */

  background-color: transparent; /* Transparent text background */
  z-index: 2;
  

  mix-blend-mode: difference;
            background-clip: text; /* Clip background to the text */
}

